{% extends 'main.html' %}

{% block content %}
  <div class="container">
    <h2 class="mb-3" style="font-size: 1.5rem;">Создать заказ</h2>

    <form method="post" class="mb-3">
      {% csrf_token %}
      {% comment %} <h3 class="mb-3" style="font-size: 1.2rem;">Выберите столик и статус заказа</h3> {% endcomment %}
      <div class="mb-3">{{ order_form.as_p }}</div>
      <button type="submit" name="submit_order" class="btn btn-outline-success">Сохранить заказ</button>
    </form>

    <hr />
    <h3 class="mt-4 mb-3" style="font-size: 1.2rem;">Добавить блюдо в заказ</h3>
    <form method="post" class="mb-3">
      {% csrf_token %}
      <div class="mb-3">{{ menu_item_form.as_p }}</div>
      <button type="submit" name="add_item" class="btn btn-outline-success">Добавить блюдо</button>
    </form>

    <h3 class="mt-4 mb-3" style="font-size: 1.2rem;">Текущий список блюд:</h3>
    <ul class="list-group">
      {% for item in menu_items %}
        <li class="list-group-item" style="font-size: 0.875rem;">{{ item.product_name }} - {{ item.price }} руб.</li>
      {% empty %}
        <p>Нет добавленных блюд</p>
      {% endfor %}
    </ul>
  </div>

  <style>
    .errorlist {
      display: none;
    }
    .mb-3 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    .form-control-sm {
      font-size: 0.75rem;
      padding: 0.25rem 0.5rem;
      height: calc(1.25em + 0.25rem);
    }
    
    .form-control {
      width: 100%;
      max-width: 400px;
    }
  </style>
{% endblock %}
